<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint2/blob/master/n122-chi-square-test/n122a-chi-square-test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# üìù Assignment

In [190]:
import pandas as pd
import numpy as np

# Ïπ¥Ïù¥Ï†úÍ≥±Í≤ÄÏ†ï


## 1. Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞ Ï°∞Ïûë Ïó∞Ïäµ. 

Íµ≠Í∞Ä ÌÜµÍ≥Ñ Ìè¨ÌÑ∏ÏóêÏÑú ÏïÑÎûò Ïù¥ÎØ∏ÏßÄÎ•º Ï∞∏Ï°∞ÌïòÏó¨

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ÎÖÑ 8Ïõî**Ïóê Ìï¥ÎãπÌïòÎäî Í∑úÎ™®Î≥Ñ ÎØ∏Î∂ÑÏñëÌòÑÌô© Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mÏù¥Ìïò`, `60~85m`, `85mÏ¥àÍ≥º`Ïùò 3Í∞ú Í∑úÎ™®ÏôÄ (column)
- `ÏÑúÏö∏`, `ÎåÄÏ†Ñ`, `ÎåÄÍµ¨`, `Î∂ÄÏÇ∞` 4Í∞úÏùò ÏßÄÏó≠ÏùÑ Ìè¨Ìï®Ìï¥ÏïºÌï©ÎãàÎã§. (row)
- Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞Îäî 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.

Ïù¥ÌõÑ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ colabÏúºÎ°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî. Ïù¥Îïå Î≥ÄÏàòÏùò Ïù¥Î¶ÑÏùÄ `df`Î•º ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [191]:
df = pd.read_csv('/content/Í∑úÎ™®Î≥Ñ_ÎØ∏Î∂ÑÏñëÌòÑÌô©_20210514161856.csv', encoding='cp949')
df

   ÏãúÎèÑ(1) 2020. 08 2020. 08.1 2020. 08.2 2020. 08.3 2020. 08.4
0  ÏãúÎèÑ(1)     Í≥µÍ≥µÎ∂ÄÎ¨∏       Í≥µÍ≥µÎ∂ÄÎ¨∏       ÎØºÍ∞ÑÎ∂ÄÎ¨∏       ÎØºÍ∞ÑÎ∂ÄÎ¨∏       ÎØºÍ∞ÑÎ∂ÄÎ¨∏
1  ÏãúÎèÑ(1)    60„é°Ïù¥Ìïò     60‚àº85„é°      60„é°Ïù¥Ìïò     60‚àº85„é°      85„é°Ï¥àÍ≥º
2     ÏÑúÏö∏        0          0         54          2          0
3     Î∂ÄÏÇ∞        0          0        577        735        142
4     ÎåÄÍµ¨        0          0        143       1437         44
5     ÎåÄÏ†Ñ        0          0        782          1          0

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ÏãúÎèÑ(1)       6 non-null      object
 1   2020. 08    6 non-null      object
 2   2020. 08.1  6 non-null      object
 3   2020. 08.2  6 non-null      object
 4   2020. 08.3  6 non-null      object
 5   2020. 08.4  6 non-null      object
dtypes: object(6)
memory usage: 416.0+ bytes

In [193]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ÏÑúÏö∏', 'ÎåÄÏ†Ñ', 'ÎåÄÍµ¨', 'Î∂ÄÏÇ∞']

In [194]:
df = df.iloc[2:, 3:]
df

  2020. 08.2 2020. 08.3 2020. 08.4
2         54          2          0
3        577        735        142
4        143       1437         44
5        782          1          0

In [195]:
df.index = row
df.columns = col
df

   ~60m2 60~85m2 85m2~
ÏÑúÏö∏    54       2     0
ÎåÄÏ†Ñ   577     735   142
ÎåÄÍµ¨   143    1437    44
Î∂ÄÏÇ∞   782       1     0

In [196]:
df = df.apply(pd.to_numeric)

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ÏÑúÏö∏ to Î∂ÄÏÇ∞
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ~60m2    4 non-null      int64
 1   60~85m2  4 non-null      int64
 2   85m2~    4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [198]:
df.shape

(4, 3)

In [199]:
df.sum().sum()

3917

## 2. ÏßÄÏó≠Ïóê ÎåÄÌï¥ÏÑú one-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi1`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) ÎßåÏïΩ **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
ÏùÑ ÎπÑÍµê ÌïòÍ≤å Îê† Í≤ÉÏûÖÎãàÎã§.

In [200]:

from scipy import stats
from scipy.stats import chisquare

In [201]:
df

    ~60m2  60~85m2  85m2~
ÏÑúÏö∏     54        2      0
ÎåÄÏ†Ñ    577      735    142
ÎåÄÍµ¨    143     1437     44
Î∂ÄÏÇ∞    782        1      0

In [202]:
df1 = [54+2+0, 577+735+142, 143+1437+44, 782+1+0]

In [203]:
chi1 = chisquare(df1, axis=None)
chi1.statistic
# chi1

1564.4572376818994

### Ïπ¥Ïù¥Ï†úÍ≥± Í∞íÏù¥ ÌÅ¨Í≥†, pÍ∞íÏù¥ 0.0 < 0.05Ïù¥ÎØÄÎ°ú Ïú†ÏùòÏàòÏ§Ä 5%ÏóêÏÑú Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÑ Í∏∞Í∞ÅÌïúÎã§. 
### Ï¶â, ÏÑúÏö∏, ÎåÄÏ†Ñ, ÎåÄÍµ¨, Î∂ÄÏÇ∞ Í∞ÑÏùò ÎØ∏Î∂ÑÏñë Ï£ºÌÉù Í∑úÎ™®Ïùò Î∂ÑÌè¨Í∞Ä Í∞ÅÍ∞Å Îã§Î•¥Îã§.

In [204]:
# chisquare(df.loc['ÏÑúÏö∏',:], axis=None)

In [205]:
# chisquare(df.loc['ÎåÄÏ†Ñ',:], axis=None)

In [206]:
# chisquare(df.loc['ÎåÄÍµ¨',:], axis=None)

In [207]:
# chisquare(df.loc['Î∂ÄÏÇ∞',:], axis=None)

## 3. ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê ÎåÄÌï¥ÏÑú two-sample chi-square testÎ•º Ïã§Ìñâ, Ìï¥Îãπ Í≤∞Í≥ºÎ•º `chi2`Ïóê Ï†ÄÏû• ÌõÑ ÏÑ§Î™ÖÌï¥Î≥¥ÏÑ∏Ïöî.

ÏòàÏãú) **9ÏõîÎã¨ Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌïúÎã§Î©¥

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ÏÑúÏö∏|52|2|0|
|ÎåÄÏ†Ñ|772|1|0|
|ÎåÄÍµ¨|113|1061|42|
|Î∂ÄÏÇ∞|590|665|142|

Ïóê ÎåÄÌï¥ÏÑú Í≤ÄÏ†ïÌï¥Ïïº Ìï† Í≤ÅÎãàÎã§.

In [208]:
from scipy.stats import chi2_contingency

chi2 = chi2_contingency(df, correction=False)
chi2 # Ïπ¥Ïù¥Ï†úÍ≥±Í∞í / ÌîºÎ≤®Î•ò / ÏûêÏú†ÎèÑ(4-1)*(3-1)=6 / Í∏∞ÎåÄÌöüÏàò ÌñâÎ†¨

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

In [209]:
chi2[0] # ÏßÅÏ†ëÍ≥ÑÏÇ∞ 2061.0546703932705
# Ïπ¥Ïù¥Ï†úÍ≥±Í∞íÏù¥ ÌÅ¨ÎØÄÎ°ú ÏßÄÏó≠Í≥º Í∑úÎ™®Îäî Ïó∞Í¥ÄÏù¥ ÏûàÎäî Í≤ÉÏúºÎ°ú Î≥¥Ïù∏Îã§.

2064.576731417199

# ÏßÅÏ†ëÍ≥ÑÏÇ∞

In [210]:
 df1 = df

In [211]:
df1.sum(axis=1)

ÏÑúÏö∏      56
ÎåÄÏ†Ñ    1454
ÎåÄÍµ¨    1624
Î∂ÄÏÇ∞     783
dtype: int64

In [212]:
df1.sum(axis=0)

~60m2      1556
60~85m2    2175
85m2~       186
dtype: int64

In [213]:
df1['Ìï©'] = df1.sum(axis=1)
df1

    ~60m2  60~85m2  85m2~     Ìï©
ÏÑúÏö∏     54        2      0    56
ÎåÄÏ†Ñ    577      735    142  1454
ÎåÄÍµ¨    143     1437     44  1624
Î∂ÄÏÇ∞    782        1      0   783

In [214]:
df1.loc['ÏßÄÏó≠ Ìï©'] = df1.sum(axis=0)

In [215]:
df1

      ~60m2  60~85m2  85m2~     Ìï©
ÏÑúÏö∏       54        2      0    56
ÎåÄÏ†Ñ      577      735    142  1454
ÎåÄÍµ¨      143     1437     44  1624
Î∂ÄÏÇ∞      782        1      0   783
ÏßÄÏó≠ Ìï©   1556     2175    186  3917

In [216]:
obs = np.array( df.iloc[:4, :3] )
obs

array([[  54,    2,    0],
       [ 577,  735,  142],
       [ 143, 1437,   44],
       [ 782,    1,    0]])

In [217]:
total_obs = np.sum(obs)
total_obs # Ï¥ùÌï©

3917

In [218]:
df1

      ~60m2  60~85m2  85m2~     Ìï©
ÏÑúÏö∏       54        2      0    56
ÎåÄÏ†Ñ      577      735    142  1454
ÎåÄÍµ¨      143     1437     44  1624
Î∂ÄÏÇ∞      782        1      0   783
ÏßÄÏó≠ Ìï©   1556     2175    186  3917

In [219]:
# Í∏∞ÎåÄÌöüÏàò Í≥ÑÏÇ∞
exp = np.array([[ (1556*56/3917), (2175*56/3917), (186*56/3917)  ],       
                [1556*1454/3917, 2175*1454/3917, 189*1454/3917],  
                [1556*1624/3917, 2175*1624/3917, 186*1624/3917],                   
                [1556*783/3917, 2175*783/3917, 186*783/3917]], dtype = object)                     

# exp = exp / total_obs #ÏóêÎü¨ÎÇòÏÑú ÏßÅÏ†ëÎÇòÎàî -> Ìï¥Í≤∞, ÌïòÎÇòÎ•º Îçî Í≥ÑÏÇ∞Ìï¥ÏÑú Î∞∞Ïó¥ Ïù¥ÏÉÅÌï¥ÏßÑ Í≤ÉÏù¥ÏóàÏùå.
exp

array([[22.245596119479192, 31.095225938218025, 2.6591779423027826],
       [577.5910135307633, 807.3653306101609, 70.15726321164156],
       [645.1222874648967, 901.7615522083227, 77.1161603267807],
       [311.0411028848609, 434.7778912432984, 37.181005871840696]],
      dtype=object)

In [220]:
chi2 #ÎπÑÍµê

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

In [221]:
# squared = np.power(obs - exp, 2) # Ï†úÍ≥±- Í∑∏ÎÉ• **2Îäî?
squared = np.power(obs - exp, 2)
squared

array([[1008.342165807235, 846.532172395955, 7.071227328829661],
       [0.3492969935453591, 5236.741074317885, 5161.378829241351],
       [252126.79156898032, 286480.19599444413, 1096.680074789044],
       [221802.28277190818, 188163.25893148285, 1382.4271976418524]],
      dtype=object)

In [222]:
# Ïπ¥Ïù¥Ï†úÍ≥± ÌÜµÍ≥ÑÎüâ - Ï†úÍ≥±Ìïú Ï∞®Ïù¥Îì§ Í∏∞ÎåÄÌöüÏàòÎ°ú ÎÇòÎàÑÏñ¥ÏÑú Ìï©ÌïòÍ∏∞.
chi = np.sum(squared / exp)
chi # 2064.576731417199 ÏÇ¨Ïù¥ÌååÏù¥Î°ú Íµ¨Ìïú Ïπ¥Ïù¥Ï†úÍ≥±Í∞íÍ≥º ÎπÑÏä∑ÌïòÎã§.

2061.0546703932705


---
ÎëêÍ∞ÄÏßÄ Î∞©Î≤ïÏúºÎ°ú Íµ¨Ìïú Ïπ¥Ïù¥Ï†úÍ≥± Í∞íÏùÄ ÏïΩ 2060 Ï†ïÎèÑÎ°ú Ïù¥Îäî Îß§Ïö∞ ÌÅ∞ Í∞íÏù¥Îã§. 

Ïπ¥Ïù¥Ï†úÍ≥± Í∞íÏùÄ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ï∞∏Ïù¥ÎùºÍ≥† Í∞ÄÏ†ïÌñàÏùÑ ÎïåÏùò Í∏∞ÎåÄ ÌöüÏàòÏôÄÏùò Í±∞Î¶¨ÎùºÍ≥†ÎèÑ Ìï† Ïàò ÏûàÎã§. 
ÏúÑÏùò ÏûêÎ£åÏóêÏÑúÏùò Í∞ÄÏÑ§ÏùÄ 
* H0 : ÏßÄÏó≠Í≥º Í∑úÎ™®Í∞Ä Ïó∞Í¥ÄÏù¥ ÏóÜÎã§. 
* H1 : ÏßÄÏó≠Í≥º Í∑úÎ™®Ïóê Ïó∞Í¥ÄÏù¥ ÏûàÎã§. 

ÏúÑÏôÄ Í∞ôÎã§. 
Í≥ÑÏÇ∞ Í≤∞Í≥º ÌÅ∞ Ïπ¥Ïù¥Ï†úÍ≥± Í∞íÏù¥ ÎÇòÏôîÏúºÎØÄÎ°ú Ïù¥Îäî Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ï∞∏Ïù¥ÎùºÎäî Í≤ÉÏùò Î∞òÎåÄÎêòÎäî Ï¶ùÍ±∞Í∞Ä ÎêúÎã§. 

Ï¶â, Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Ïóê Îî∞Î•¥Î©¥ ÏßÄÏó≠Í≥º ÎØ∏Î∂ÑÏñëÎêú Ï£ºÌÉùÏóêÎäî Ïó∞Í¥ÄÏÑ±Ïù¥ ÎÜíÏùÄ Í≤ÉÏúºÎ°ú Î≥¥Ïó¨ÏßÑÎã§. 
---

### 4. 2Î≤àÏóê ÎåÄÌï¥ÏÑú NumPy Î•º ÏÇ¨Ïö©ÌïòÏó¨ (ScipyÎ•º ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÍ≥†) $\chi^2$ test ÏãúÌñâ ÌõÑ 2Î≤àÏùò Í≤∞Í≥ºÏôÄ ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî. 

- `obs`, `exp`, `chi`ÎùºÎäî Î≥ÄÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏïºÌï©ÎãàÎã§.

Ïù¥ ÌõÑ `chi2_contingency()`Ïùò Í≤∞Í≥ºÎ¨ºÍ≥º ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî

In [223]:
df1

      ~60m2  60~85m2  85m2~     Ìï©
ÏÑúÏö∏       54        2      0    56
ÎåÄÏ†Ñ      577      735    142  1454
ÎåÄÍµ¨      143     1437     44  1624
Î∂ÄÏÇ∞      782        1      0   783
ÏßÄÏó≠ Ìï©   1556     2175    186  3917

In [224]:
obs = np.array(df1)
obs

array([[  54,    2,    0,   56],
       [ 577,  735,  142, 1454],
       [ 143, 1437,   44, 1624],
       [ 782,    1,    0,  783],
       [1556, 2175,  186, 3917]])

In [225]:
exp = sum(obs) / len(obs)
exp

array([ 622.4,  870. ,   74.4, 1566.8])

In [226]:
# sum(obs) 
# len(obs)

In [227]:
chi =sum(np.power(obs - exp, 2 ) /exp )
chi

array([2332.97750643, 4081.9816092 ,  390.04301075, 5384.41077355])

In [228]:
#pÍ∞í
from scipy import stats

x2 = 1564.4572376818994

1 - stats.chi.cdf(x2, df=3)

0.0

## üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

ÏïÑÎûò ÏÑ∏Í∞ÄÏßÄÎ•º Îã§ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Function

4Î≤àÏóêÏÑú ÏÇ¨Ïö©Ìïú one sample chisquare testÎ•º Ìï®ÏàòÏùò ÌòïÌÉúÎ°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# ÎÇ¥Ïö©ÏùÑ Ï±ÑÏö∞ÏÑ∏Ïöî.

myChisq(v1) 

# chisquareÍ∞íÍ≥º pvalueÎ•º Ï∂úÎ†•Ìï¥ÏïºÌï©ÎãàÎã§.

myChisq(v2)

### 2. ANOVA

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ ANOVA Ïóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://partrita.github.io/posts/ANOVA-python/>

Îã§Ïùå `4Í∞ú Í∑∏Î£πÏóê ÎåÄÌï¥ÏÑú ÌèâÍ∑†Ïùò Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ`Ïóê ÎåÄÌïú Í∞ÄÏÑ§ Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

## 3. Sign Test

ÏïÑÎûò ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨ Sign TestÏóê ÎåÄÌïú Í∏ÄÏùÑ ÏùΩÍ≥†

<https://en.wikipedia.org/wiki/Sign_test>

Îã§Ïùå Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Îëê Í∑∏Î£πÍ∞ÑÏóê Ï∞®Ïù¥Í∞Ä ÏûàÎã§Ïóê ÎåÄÌïú Sign TestÏùò Í≥ºÏ†ïÍ≥º Í≤∞Í≥ºÎ•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|