<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint3/blob/master/n131-vectors-and-matrices/n131a_vectors_matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

|People : 사람 \
|Name : 구입 물품의 이름 \
|Price : 구입 물품의 가격 \
|Amount : 수량 \
으로 정의하였다.

- 사람당 물건을 구입한 총 금액을 구하기 :
1. 구입 가격 벡터 생성(3명 모두 같으니 하나만 생성)
2. 사람 별 구입 수량 벡터 생성
3. 두 벡터를 내적하기.
4. 3명 모두 내적한 값을 리스트에 저장

In [2]:
# 이곳에 답안을 작성하시기 바랍니다
import numpy as np

# 벡터 정의
price = np.array([100,500, 250, 50])
X_amount = np.array([35, 10, 25, 40])

np.dot(price, X_amount)

16750

In [3]:
price * X_amount

array([3500, 5000, 6250, 2000])

In [4]:
(price * X_amount).sum()

16750

In [5]:
# 나머지 사람들의 구입 비용 계산
Y_amount = np.array([0,50,50,0])
Z_amount = np.array([0,0,100,0])

res = [np.dot(price, X_amount), np.dot(price, Y_amount), np.dot(price, Z_amount)]
res

[16750, 37500, 25000]

In [84]:
100*35+500*10+250*25+50*40
100*0+500*50+250*50+50*0

37500

In [6]:
min(res)

16750

## 2. Norms

주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(**절대값**)를 계산하는 함수를 만드세요.

함수 안에 
- L1 값 저장
1. 반복문으로 요소들의 절대값 더하기
- L2 값 저장
2. 반복문으로 요소들의 제곱합을 더하기
3. 루트

4. 값의 차이에 절대값 씌워 반환

In [7]:
def NormDif(v): # v = np.array()
    # L1
    L1 = 0
    L2 = 0
    for i in range(len(v)):
        L1 += abs(v[i])
        L2 += np.power(v[i],2)
        #L2 += v[i]**2 # 결과값 같음.
    
    L2 = np.sqrt(L2)
    result = abs(L1 - L2)

    return result

In [8]:
# len(np.array([1, 2, 3, 4]))
# np.array([1, 2, 3, 4])[1]

In [9]:
NormDif(np.array([1, 2, 3, 4]))

4.522774424948339

In [86]:
abs(10-np.sqrt(30))

4.522774424948339

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

* MAE : 오차의 절대값(Absolute)의 평균

* MSE : 오차 제곱(squared)의 평균

-> 벡터를 2개를 주어준다고 했으니 예측값이 주어진다고 생각, 두 벡터의 차의 제곱합과 절대값의 평균을 각각 구해주면됨.

In [70]:
import sklearn
from sklearn.metrics import mean_absolute_error

In [80]:
from sklearn.metrics import mean_absolute_error
def error(x, y, type) :
    error = x-y
    # MSE
    if type == 'MSE' or type =='mse':
        result = np.sum(np.power(error,2)) / len(x)
        # result = np.mean(np.square(error)) #=
        # result = mean_squared_error(error) # 왜 에러나지?
    elif type == 'MAE' or type =='mae':
        result = np.mean(np.abs(error))
    else: 
        print('type을 정확히 입력하세요.')

    return result

In [81]:
error(np.array([5, 10, 30]), np.array([21, 2, 8]), 'MSE')

268.0

In [87]:
(16**2+8**2+22**2) / 3

268.0

In [82]:
error(np.array([5, 10, 30]), np.array([21, 2, 8]), 'mae')

15.333333333333334

In [88]:
(16+22+8)/3

15.333333333333334

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

$$\begin{align}
A = \begin{bmatrix}
a &b \\
c &d
\end{bmatrix}
\qquad
A^{-1} = \frac{1}{ad-bc}\begin{bmatrix}
d & -b\\
-c & a
\end{bmatrix}
\end{align}$$

In [47]:
# 행렬이 (2,2)행렬이라 가정.

def myInverse(m) : # m = np.array()
    # 요소 정의
    a = m[0,0]
    b = m[0,1]
    c = m[1,0]
    d = m[1,1]
    m0 = a*d - b*c # 이 값이 0이면 연산 시 inf가 나온다.

    if m0 != 0:
        m1 = 1 / m0
        m2 = np.array([[d, -b],[-c, a]])
        result = m1*m2
    else:
        result = -1

    return result

In [48]:
myInverse(np.array([[2,4],
                              [4,8]])) # 16-16=0

-1

In [49]:
myInverse(np.array([[2,5],[4,8]]))

array([[-2.  ,  1.25],
       [ 1.  , -0.5 ]])

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [91]:
import numpy as np

n = np.array([[1,2,0],
              [-3,4,6],
              [-1,-2,3]])

np.linalg.det(n)

30.000000000000014

In [92]:
# 정의
a = 1
b=2
c=0
j=6
d=-3
e=4
f=6
k=30
g=-1
h=-2
i=3
l=8

In [93]:
n = np.array([[j,b,c],
              [k,e,f],
              [l,h,i]])

x1 = np.linalg.det(n)
x1

60.000000000000036

In [94]:
n = np.array([[a,b,c],
                    [d,e,f],
                    [g,h,i]])

x2 = np.linalg.det(n)
x2

30.000000000000014

In [95]:
n = np.array([[a,j,c],
                    [d,k,f],
                    [g,l,i]])

x2_1 = np.linalg.det(n)
x2_1

59.999999999999986

In [96]:
n = np.array([[a,b,c],
                    [d,e,f],
                    [g,h,i]])

x2_2 = np.linalg.det(n)
x2_2

30.000000000000014

In [97]:
n = np.array([[a,b,j],
                    [d,e,k],
                    [g,h,l]])

x3_1 = np.linalg.det(n)
x3_1

139.99999999999994

In [98]:
n = np.array([[a,b,c],
                    [d,e,f],
                    [g,h,i]])

x3_2 = np.linalg.det(n)
x3_2

30.000000000000014

In [99]:
print('x1, x2, x3의 값은 각각 ',x1/x2, x2_1/x2_2, x3_1/x3_2,'입니다')

x1, x2, x3의 값은 각각  2.0000000000000004 1.9999999999999987 4.6666666666666625 입니다

In [103]:
print('x1, x2, x3의 값은 각각 %.3f, %.3f, %.3f입니다'%(x1/x2, x2_1/x2_2, x3_1/x3_2))

x1, x2, x3의 값은 각각 2.000, 2.000, 4.667입니다