<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint1/blob/master/n112-feature-engineering/n112a-feature-engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [33]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [34]:
import pandas as pd

df = pd.read_csv(url, names =headers) # 직접 지정한 headers로 names인수를 설정한다. 
df.head()

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

영업이익률 직접 계산하기

> 영업이익률 = 영업이익 / 매출액*100

In [35]:
# 형변환 #

# 입력된 문자열에 대해서 콤마를 삭제하는 함수 작성
def toInt(string):
    return int(string.replace(',',''))

df['매출액'] = df['매출액'].apply(toInt)
df['영업이익'] = df['영업이익'].apply(toInt)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   분기          5 non-null      object
 1   매출액         5 non-null      int64
 2   영업이익        5 non-null      int64
 3   영업이익(발표기준)  5 non-null      object
 4   세전계속사업이익    5 non-null      object
 5   당기순이익       5 non-null      object
 6   당기순이익(지배)   5 non-null      object
 7   당기순이익(비지배)  5 non-null      int64
 8   자산총계        5 non-null      object
 9   부채총계        5 non-null      object
 10  자본총계        5 non-null      object
 11  자본총계(지배)    5 non-null      object
 12  자본총계(비지배)   2 non-null      float64
 13  자본금         5 non-null      object
 14  영업활동현금흐름    5 non-null      object
 15  투자활동현금흐름    5 non-null      object
 16  재무활동현금흐름    5 non-null      object
 17  영업이익률       5 non-null      float64
 18  순이익률        5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  부채비율        5 non-null      float64
 22  자본유보율       5 non-null      float64
 23  EPS(원)      5 non-null      object
 24  PER(배)      5 non-null      float64
dtypes: float64(8), int64(3), object(14)
memory usage: 1.1+ KB

In [36]:
# 영업이익률 직접 계산 

df['영업이익률2'] = df['영업이익'] / df['매출액']*100
df[['영업이익률', '영업이익률2']].head() # 1개 이상의 컬럼을 추출하는 경우에는 대괄호를 2번( [[]] ) 사용*

# -> 직접 계산한 값이 실제값과 같음을 확인할 수 있다.

   영업이익률     영업이익률2
0  31.73  31.730005
1  28.93  28.929058
2  21.06  21.056585
3  26.73  26.731161
4  29.93  29.928723

18/19년도에 대해서 Price to Dream Ratio (PDR) 계산

In [37]:
df2 = pd.DataFrame([
                    ['18년',101500,137292497,13935188445500,62.0],
                    ['19년',93800,137292497,12878036218600,63.5]],
                   columns = ['구분','종가','발행주식수','시가총액','시장점유율'])

df2

    구분      종가      발행주식수            시가총액  시장점유율
0  18년  101500  137292497  13935188445500   62.0
1  19년   93800  137292497  12878036218600   63.5

In [38]:
# 시가총액 / (시장규모=15조)*시장점유율

df2['PDR'] = df2['시가총액'] / (15000000000000*df2['시장점유율']) * 10000
df2

    구분      종가      발행주식수            시가총액  시장점유율         PDR
0  18년  101500  137292497  13935188445500   62.0  149.840736
1  19년   93800  137292497  12878036218600   63.5  135.202480

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [39]:
df.head()

      분기    매출액  영업이익 영업이익(발표기준)  ...   자본유보율 EPS(원) PER(배)     영업이익률2
0   19/6  12578  3991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13222  3825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11982  2523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11784  3150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13188  3947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   분기          5 non-null      object
 1   매출액         5 non-null      int64
 2   영업이익        5 non-null      int64
 3   영업이익(발표기준)  5 non-null      object
 4   세전계속사업이익    5 non-null      object
 5   당기순이익       5 non-null      object
 6   당기순이익(지배)   5 non-null      object
 7   당기순이익(비지배)  5 non-null      int64
 8   자산총계        5 non-null      object
 9   부채총계        5 non-null      object
 10  자본총계        5 non-null      object
 11  자본총계(지배)    5 non-null      object
 12  자본총계(비지배)   2 non-null      float64
 13  자본금         5 non-null      object
 14  영업활동현금흐름    5 non-null      object
 15  투자활동현금흐름    5 non-null      object
 16  재무활동현금흐름    5 non-null      object
 17  영업이익률       5 non-null      float64
 18  순이익률        5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  부채비율        5 non-null      float64
 22  자본유보율       5 non-null      float64
 23  EPS(원)      5 non-null      object
 24  PER(배)      5 non-null      float64
 25  영업이익률2      5 non-null      float64
dtypes: float64(9), int64(3), object(14)
memory usage: 1.1+ KB

In [41]:
df = df.infer_objects()
print(df.dtypes)

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
영업이익률2        float64
dtype: object

In [42]:
import locale
# A = '111,111.222'
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
# 'en_US.UTF-8'
# locale.atof(A)

'en_US.UTF-8'

In [43]:
#  locale.atof(df.iloc[:,3])

In [44]:
import numpy as np
# df.astype({'자산총계': np.int64})

In [45]:
df.iloc[:,3]

0    3,991
1    3,825
2    2,523
3    3,150
4    3,947
Name: 영업이익(발표기준), dtype: object

In [46]:
(df['매출액'][0] == 12578)

True

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [47]:
 df.select_dtypes(object).columns

Index(['분기', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)', '자산총계', '부채총계',
       '자본총계', '자본총계(지배)', '자본금', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름',
       'EPS(원)'],
      dtype='object')

In [48]:
df.columns.get_indexer(['분기', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)', '자산총계', '부채총계',
       '자본총계', '자본총계(지배)', '자본금', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름',
       'EPS(원)'])

array([ 0,  3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23])

In [49]:
# df.apply(toInt)

In [50]:
df = df.fillna(0)
df.isnull().sum().sum()

0

In [51]:
# 변환해야할 변수들
df.iloc[:,[3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   영업이익(발표기준)  5 non-null      object
 1   세전계속사업이익    5 non-null      object
 2   당기순이익       5 non-null      object
 3   당기순이익(지배)   5 non-null      object
 4   자산총계        5 non-null      object
 5   부채총계        5 non-null      object
 6   자본총계        5 non-null      object
 7   자본총계(지배)    5 non-null      object
 8   자본금         5 non-null      object
 9   영업활동현금흐름    5 non-null      object
 10  투자활동현금흐름    5 non-null      object
 11  재무활동현금흐름    5 non-null      object
 12  EPS(원)      5 non-null      object
dtypes: object(13)
memory usage: 648.0+ bytes

In [52]:
# df['매출액'] = df['매출액'].apply(toInt)
# df['영업이익'] = df['영업이익'].apply(toInt)
# df.iloc[:,[3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23]].apply(toInt)

for i in (3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23):
    # print(i)
    df.iloc[:,i] = df.iloc[:,i].apply(toInt)
    print(df.iloc[:,i].dtypes)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [53]:
df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)      int64
세전계속사업이익        int64
당기순이익           int64
당기순이익(지배)       int64
당기순이익(비지배)      int64
자산총계            int64
부채총계            int64
자본총계            int64
자본총계(지배)        int64
자본총계(비지배)     float64
자본금             int64
영업활동현금흐름        int64
투자활동현금흐름        int64
재무활동현금흐름        int64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)          int64
PER(배)        float64
영업이익률2        float64
dtype: object

In [54]:
# 기초통계량
df.describe()

                매출액         영업이익  ...     PER(배)     영업이익률2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675106
std      664.979097   636.931079  ...   1.898112   4.116711
min    11784.000000  2523.000000  ...   9.710000  21.056585
25%    11982.000000  3150.000000  ...  10.460000  26.731161
50%    12578.000000  3825.000000  ...  12.420000  28.929058
75%    13188.000000  3947.000000  ...  13.770000  29.928723
max    13222.000000  3991.000000  ...  13.870000  31.730005

[8 rows x 25 columns]

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [55]:

def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [56]:
grade(df, df2)

5

In [77]:
round(df2['PDR'], 3)
149.841- 135.202

14.63900000000001

In [78]:
round(df['영업이익률2'], 3)

0    31.730
1    28.929
2    21.057
3    26.731
4    29.929
Name: 영업이익률2, dtype: float64

In [79]:
df['매출액'][0]

12578

In [80]:
(df.dtypes == 'O').sum()

1

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [57]:
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)     영업이익률2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

In [58]:
df.loc[2,'당기순이익(비지배)'] = np.nan # **널값 생성하는 방법

In [59]:
df['당기순이익(비지배)']

0    17.0
1    13.0
2     NaN
3     9.0
4     4.0
Name: 당기순이익(비지배), dtype: float64

In [60]:
df.loc[2,'당기순이익(비지배)'] = df['당기순이익(비지배)'].mean()

In [61]:
df['당기순이익(비지배)']

0    17.00
1    13.00
2    10.75
3     9.00
4     4.00
Name: 당기순이익(비지배), dtype: float64

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [62]:
df

      분기    매출액  영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)     영업이익률2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

In [72]:
df['매출액'].mean()

12550.8

In [74]:
11784 - df['매출액'].mean()

11782.934928716904

In [63]:
# m = df.loc[:3,'매출액'].mean()
# m

12391.5

In [64]:
#  df['매출액'] / m

0    1.015051
1    1.067022
2    0.966953
3    0.950974
4    1.064278
Name: 매출액, dtype: float64

Relative Perfomance이 정확히 뭘 의미하는 거지?