<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint1/blob/master/n112-feature-engineering/n112a-feature-engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [33]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [34]:
import pandas as pd

df = pd.read_csv(url, names =headers) # ì§ì ‘ ì§€ì •í•œ headersë¡œ namesì¸ìˆ˜ë¥¼ ì„¤ì •í•œë‹¤. 
df.head()

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

ì˜ì—…ì´ìµë¥  ì§ì ‘ ê³„ì‚°í•˜ê¸°

> ì˜ì—…ì´ìµë¥  = ì˜ì—…ì´ìµ / ë§¤ì¶œì•¡*100

In [35]:
# í˜•ë³€í™˜ #

# ì…ë ¥ëœ ë¬¸ìì—´ì— ëŒ€í•´ì„œ ì½¤ë§ˆë¥¼ ì‚­ì œí•˜ëŠ” í•¨ìˆ˜ ì‘ì„±
def toInt(string):
    return int(string.replace(',',''))

df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toInt)
df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toInt)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë¶„ê¸°          5 non-null      object
 1   ë§¤ì¶œì•¡         5 non-null      int64
 2   ì˜ì—…ì´ìµ        5 non-null      int64
 3   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 4   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 5   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 6   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 7   ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  5 non-null      int64
 8   ìì‚°ì´ê³„        5 non-null      object
 9   ë¶€ì±„ì´ê³„        5 non-null      object
 10  ìë³¸ì´ê³„        5 non-null      object
 11  ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 12  ìë³¸ì´ê³„(ë¹„ì§€ë°°)   2 non-null      float64
 13  ìë³¸ê¸ˆ         5 non-null      object
 14  ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 15  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 16  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 17  ì˜ì—…ì´ìµë¥        5 non-null      float64
 18  ìˆœì´ìµë¥         5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  ë¶€ì±„ë¹„ìœ¨        5 non-null      float64
 22  ìë³¸ìœ ë³´ìœ¨       5 non-null      float64
 23  EPS(ì›)      5 non-null      object
 24  PER(ë°°)      5 non-null      float64
dtypes: float64(8), int64(3), object(14)
memory usage: 1.1+ KB

In [36]:
# ì˜ì—…ì´ìµë¥  ì§ì ‘ ê³„ì‚° 

df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡']*100
df[['ì˜ì—…ì´ìµë¥ ', 'ì˜ì—…ì´ìµë¥ 2']].head() # 1ê°œ ì´ìƒì˜ ì»¬ëŸ¼ì„ ì¶”ì¶œí•˜ëŠ” ê²½ìš°ì—ëŠ” ëŒ€ê´„í˜¸ë¥¼ 2ë²ˆ( [[]] ) ì‚¬ìš©*

# -> ì§ì ‘ ê³„ì‚°í•œ ê°’ì´ ì‹¤ì œê°’ê³¼ ê°™ìŒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

   ì˜ì—…ì´ìµë¥      ì˜ì—…ì´ìµë¥ 2
0  31.73  31.730005
1  28.93  28.929058
2  21.06  21.056585
3  26.73  26.731161
4  29.93  29.928723

18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR) ê³„ì‚°

In [37]:
df2 = pd.DataFrame([
                    ['18ë…„',101500,137292497,13935188445500,62.0],
                    ['19ë…„',93800,137292497,12878036218600,63.5]],
                   columns = ['êµ¬ë¶„','ì¢…ê°€','ë°œí–‰ì£¼ì‹ìˆ˜','ì‹œê°€ì´ì•¡','ì‹œì¥ì ìœ ìœ¨'])

df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨
0  18ë…„  101500  137292497  13935188445500   62.0
1  19ë…„   93800  137292497  12878036218600   63.5

In [38]:
# ì‹œê°€ì´ì•¡ / (ì‹œì¥ê·œëª¨=15ì¡°)*ì‹œì¥ì ìœ ìœ¨

df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (15000000000000*df2['ì‹œì¥ì ìœ ìœ¨']) * 10000
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [39]:
df.head()

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13222  3825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11982  2523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11784  3150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13188  3947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë¶„ê¸°          5 non-null      object
 1   ë§¤ì¶œì•¡         5 non-null      int64
 2   ì˜ì—…ì´ìµ        5 non-null      int64
 3   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 4   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 5   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 6   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 7   ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  5 non-null      int64
 8   ìì‚°ì´ê³„        5 non-null      object
 9   ë¶€ì±„ì´ê³„        5 non-null      object
 10  ìë³¸ì´ê³„        5 non-null      object
 11  ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 12  ìë³¸ì´ê³„(ë¹„ì§€ë°°)   2 non-null      float64
 13  ìë³¸ê¸ˆ         5 non-null      object
 14  ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 15  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 16  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 17  ì˜ì—…ì´ìµë¥        5 non-null      float64
 18  ìˆœì´ìµë¥         5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  ë¶€ì±„ë¹„ìœ¨        5 non-null      float64
 22  ìë³¸ìœ ë³´ìœ¨       5 non-null      float64
 23  EPS(ì›)      5 non-null      object
 24  PER(ë°°)      5 non-null      float64
 25  ì˜ì—…ì´ìµë¥ 2      5 non-null      float64
dtypes: float64(9), int64(3), object(14)
memory usage: 1.1+ KB

In [41]:
df = df.infer_objects()
print(df.dtypes)

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [42]:
import locale
# A = '111,111.222'
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
# 'en_US.UTF-8'
# locale.atof(A)

'en_US.UTF-8'

In [43]:
#  locale.atof(df.iloc[:,3])

In [44]:
import numpy as np
# df.astype({'ìì‚°ì´ê³„': np.int64})

In [45]:
df.iloc[:,3]

0    3,991
1    3,825
2    2,523
3    3,150
4    3,947
Name: ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€), dtype: object

In [46]:
(df['ë§¤ì¶œì•¡'][0] == 12578)

True

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [47]:
 df.select_dtypes(object).columns

Index(['ë¶„ê¸°', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
       'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„', 'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„',
       'EPS(ì›)'],
      dtype='object')

In [48]:
df.columns.get_indexer(['ë¶„ê¸°', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
       'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„', 'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„',
       'EPS(ì›)'])

array([ 0,  3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23])

In [49]:
# df.apply(toInt)

In [50]:
df = df.fillna(0)
df.isnull().sum().sum()

0

In [51]:
# ë³€í™˜í•´ì•¼í•  ë³€ìˆ˜ë“¤
df.iloc[:,[3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 1   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 2   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 3   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 4   ìì‚°ì´ê³„        5 non-null      object
 5   ë¶€ì±„ì´ê³„        5 non-null      object
 6   ìë³¸ì´ê³„        5 non-null      object
 7   ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 8   ìë³¸ê¸ˆ         5 non-null      object
 9   ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 10  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 11  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 12  EPS(ì›)      5 non-null      object
dtypes: object(13)
memory usage: 648.0+ bytes

In [52]:
# df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toInt)
# df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toInt)
# df.iloc[:,[3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23]].apply(toInt)

for i in (3,  4,  5,  6,  8,  9, 10, 11, 13, 14, 15, 16, 23):
    # print(i)
    df.iloc[:,i] = df.iloc[:,i].apply(toInt)
    print(df.iloc[:,i].dtypes)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [53]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [54]:
# ê¸°ì´ˆí†µê³„ëŸ‰
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675106
std      664.979097   636.931079  ...   1.898112   4.116711
min    11784.000000  2523.000000  ...   9.710000  21.056585
25%    11982.000000  3150.000000  ...  10.460000  26.731161
50%    12578.000000  3825.000000  ...  12.420000  28.929058
75%    13188.000000  3947.000000  ...  13.770000  29.928723
max    13222.000000  3991.000000  ...  13.870000  31.730005

[8 rows x 25 columns]

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [55]:

def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [56]:
grade(df, df2)

5

In [77]:
round(df2['PDR'], 3)
149.841- 135.202

14.63900000000001

In [78]:
round(df['ì˜ì—…ì´ìµë¥ 2'], 3)

0    31.730
1    28.929
2    21.057
3    26.731
4    29.929
Name: ì˜ì—…ì´ìµë¥ 2, dtype: float64

In [79]:
df['ë§¤ì¶œì•¡'][0]

12578

In [80]:
(df.dtypes == 'O').sum()

1

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [57]:
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

In [58]:
df.loc[2,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = np.nan # **ë„ê°’ ìƒì„±í•˜ëŠ” ë°©ë²•

In [59]:
df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)']

0    17.0
1    13.0
2     NaN
3     9.0
4     4.0
Name: ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°), dtype: float64

In [60]:
df.loc[2,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean()

In [61]:
df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)']

0    17.00
1    13.00
2    10.75
3     9.00
4     4.00
Name: ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°), dtype: float64

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [62]:
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

In [72]:
df['ë§¤ì¶œì•¡'].mean()

12550.8

In [74]:
11784 - df['ë§¤ì¶œì•¡'].mean()

11782.934928716904

In [63]:
# m = df.loc[:3,'ë§¤ì¶œì•¡'].mean()
# m

12391.5

In [64]:
#  df['ë§¤ì¶œì•¡'] / m

0    1.015051
1    1.067022
2    0.966953
3    0.950974
4    1.064278
Name: ë§¤ì¶œì•¡, dtype: float64

Relative Perfomanceì´ ì •í™•íˆ ë­˜ ì˜ë¯¸í•˜ëŠ” ê±°ì§€?