<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint1/blob/master/n114a_Basic_Derivative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# ğŸ“ Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [3]:
import seaborn as sns
import numpy as np
np.random.seed(42)

# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•©ë‹ˆë‹¤.
df_iris =sns. load_dataset('iris')
a, b = df_iris.shape
res1 = a / b
print(a, b, res1)

150 5 30.0

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [4]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•©ë‹ˆë‹¤.
df_iris['x'] = df_iris['sepal_length']
df_iris = df_iris.drop([ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'] ,axis=1)
df_iris.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [6]:
import math
from math import exp
import numpy as np

def num_one(x):
    return  20*(x**4) + 27*(x**2) + 2*np.exp(1)*x 
#    np.exp(1)*(x**2)  # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤

In [7]:
df_iris['derivative_one'] = df_iris['x'].apply(num_one)
res2 = round( df_iris['derivative_one'].sum(), 3 )

res2
# sum(df_iris['derivative_one'])

4077643.108

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [8]:
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [9]:
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤
def f(x):
    return 4*(x**5) + 9*(x**3) + np.exp(1)*(x**2) - 7

from scipy.misc import derivative
a = []
for i in range(len(df_iris['x'])):
    a.append( derivative(f, df_iris['x'][i], dx=1e-7) )
# len(a)

df_iris['derivative_two'] = a

In [10]:
res3 = round( df_iris['derivative_two'].sum(), 3)
res3

4077643.121

## 4. ë¯¸ë¶„ ì—°ìŠµ
>ì•„ë˜ì˜ í•¨ìˆ˜ë“¤ì„ ë¯¸ë¶„í•œ í›„ì— **x = 5**ì¼ ë•Œì˜ ê²°ê³¼ê°’ì„ `res4`, `res5`, `res6`, `res7`ì— ì €ì¥í•˜ì„¸ìš”.

 $f(x) = e^x$

In [11]:
def e_prime(x):
    return np.exp(x)  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”

res4 = e_prime(5)
res4

148.4131591025766

$f(x) = lnx$

In [12]:
def ln_prime(x):
    return 1/x  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”
res5 = ln_prime(5)
round( res5, 3)

0.2

$f(x) = Sin(2x)$

In [13]:
def sine_prime(x):
    return 2*np.cos(2*x)  # ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”
res6 = sine_prime(5)
# res6 = sine_prime(2)

round(res6, 3)
# https://www.mathway.com/ko/popular-problems/Calculus/976813

-1.678

$f(x) = (2x^2 + 8x)^2$

In [14]:
def f_prime(x):
    return 2*(2*x**2 + 8*x ) * (4*x + 8 )
res7 = f_prime(5)
# res7 = f_prime(4)

round(res7, 3)

5040

## 3. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [15]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”
k2 = 100
def f1(p1, p2):
    return (np.exp(1)*p1 - p2)**2 + k2/2*p2

In [18]:
# ë¯¸ë¶„ í•¨ìˆ˜ ì •ì˜í•˜ê¸°
from math import e

# p1ì—ëŒ€í•œ í¸ë¯¸ë¶„
def f1_p1(p1, p2=3):
    return 2*(np.exp(1)*p1 - p2)*np.exp(1)

# p2
def f1_p2(p2, p1=10):
    return 2*(e*p1 - p2)*(-1) + k2/2

In [19]:
# ì†ìœ¼ë¡œ ê³„ì‚°í•˜ì˜€ì„ ì‹œ ê°ê° í¸ë¯¸ë¶„ í•œ ì‹ì„ = 0 ìœ¼ë¡œ ë„£ê³  í’€ì—ˆì„ ë•Œê°€ ê°€ì¥ ìµœì ì˜ íŒŒë¼ë¯¸í„°ì´ë¯€ë¡œ ê°’ì€ ì•„ë˜ì™€ ê°™ë‹¤. 

p1 = 3/np.exp(1)
p2 = 10*np.exp(1)-25

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [20]:
# def grade(res1, res2, res3, res4, res5, p1, p2):
#     score = 0

#     score += (res1 == 30.0)
#     score += (res2 == 4073693.444)
#     score += (res3 == 4077643.120)
#     score += (round(res4, 3) == 148.413)
#     score += (round(res5, 1) == 0.2)
#     score += (round(res6, 3) == -1.678)
#     score += (res7 == 2320)
    
#     score += (p1 == 3/exp(1))
#     score += (p2 == 10*exp(1)-25)
  
#     return(score)

In [21]:
def grade(res1, res2, res3, res4, res5,res6,res7, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)

In [25]:
 grade(res1, res2, res3, res4, res5,res6,res7, p1, p2)

9

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [23]:
# def sig_prime(x):
#     return -( (1+np.exp(-x))**(-2) )*np.exp(-x)
#     #1 / (1 + np.exp(-x)) # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì„¸ìš”.

# challenge = sig_prime(3)
# challenge

In [24]:
## 2ì°¨ ì œì¶œ ##
import numpy as np
def sigmoid(x): 
    result = 1/(1+np.exp(-x)) 
    return result 

def sig_prime(x): 
    result = sigmoid(x) * (1 - sigmoid(x)) 
    return result
challenge = sig_prime(3)
challenge

0.045176659730912