<a href="https://colab.research.google.com/github/kiminlim/ds-section1-sprint1/blob/master/n114a_Basic_Derivative.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [3]:
import seaborn as sns
import numpy as np
np.random.seed(42)

# 이곳에 답안을 작성합니다.
df_iris =sns. load_dataset('iris')
a, b = df_iris.shape
res1 = a / b
print(a, b, res1)

150 5 30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [4]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [5]:
# 이곳에 답안을 작성합니다.
df_iris['x'] = df_iris['sepal_length']
df_iris = df_iris.drop([ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'] ,axis=1)
df_iris.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [6]:
import math
from math import exp
import numpy as np

def num_one(x):
    return  20*(x**4) + 27*(x**2) + 2*np.exp(1)*x 
#    np.exp(1)*(x**2)  # 이곳에 답안을 작성해주시기 바랍니다

In [7]:
df_iris['derivative_one'] = df_iris['x'].apply(num_one)
res2 = round( df_iris['derivative_one'].sum(), 3 )

res2
# sum(df_iris['derivative_one'])

4077643.108

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [8]:
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [9]:
# 이곳에 답안을 작성해주시기 바랍니다
def f(x):
    return 4*(x**5) + 9*(x**3) + np.exp(1)*(x**2) - 7

from scipy.misc import derivative
a = []
for i in range(len(df_iris['x'])):
    a.append( derivative(f, df_iris['x'][i], dx=1e-7) )
# len(a)

df_iris['derivative_two'] = a

In [10]:
res3 = round( df_iris['derivative_two'].sum(), 3)
res3

4077643.121

## 4. 미분 연습
>아래의 함수들을 미분한 후에 **x = 5**일 때의 결과값을 `res4`, `res5`, `res6`, `res7`에 저장하세요.

 $f(x) = e^x$

In [11]:
def e_prime(x):
    return np.exp(x)  # 이 곳에 답안을 작성하세요

res4 = e_prime(5)
res4

148.4131591025766

$f(x) = lnx$

In [12]:
def ln_prime(x):
    return 1/x  # 이 곳에 답안을 작성하세요
res5 = ln_prime(5)
round( res5, 3)

0.2

$f(x) = Sin(2x)$

In [13]:
def sine_prime(x):
    return 2*np.cos(2*x)  # 이 곳에 답안을 작성하세요
res6 = sine_prime(5)
# res6 = sine_prime(2)

round(res6, 3)
# https://www.mathway.com/ko/popular-problems/Calculus/976813

-1.678

$f(x) = (2x^2 + 8x)^2$

In [14]:
def f_prime(x):
    return 2*(2*x**2 + 8*x ) * (4*x + 8 )
res7 = f_prime(5)
# res7 = f_prime(4)

round(res7, 3)

5040

## 3. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [15]:
# 이 곳에 답안을 작성하세요
k2 = 100
def f1(p1, p2):
    return (np.exp(1)*p1 - p2)**2 + k2/2*p2

In [18]:
# 미분 함수 정의하기
from math import e

# p1에대한 편미분
def f1_p1(p1, p2=3):
    return 2*(np.exp(1)*p1 - p2)*np.exp(1)

# p2
def f1_p2(p2, p1=10):
    return 2*(e*p1 - p2)*(-1) + k2/2

In [19]:
# 손으로 계산하였을 시 각각 편미분 한 식을 = 0 으로 넣고 풀었을 때가 가장 최적의 파라미터이므로 값은 아래와 같다. 

p1 = 3/np.exp(1)
p2 = 10*np.exp(1)-25

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [20]:
# def grade(res1, res2, res3, res4, res5, p1, p2):
#     score = 0

#     score += (res1 == 30.0)
#     score += (res2 == 4073693.444)
#     score += (res3 == 4077643.120)
#     score += (round(res4, 3) == 148.413)
#     score += (round(res5, 1) == 0.2)
#     score += (round(res6, 3) == -1.678)
#     score += (res7 == 2320)
    
#     score += (p1 == 3/exp(1))
#     score += (p2 == 10*exp(1)-25)
  
#     return(score)

In [21]:
def grade(res1, res2, res3, res4, res5,res6,res7, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)

In [25]:
 grade(res1, res2, res3, res4, res5,res6,res7, p1, p2)

9

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [23]:
# def sig_prime(x):
#     return -( (1+np.exp(-x))**(-2) )*np.exp(-x)
#     #1 / (1 + np.exp(-x)) # 이곳에 답안을 작성하세요.

# challenge = sig_prime(3)
# challenge

In [24]:
## 2차 제출 ##
import numpy as np
def sigmoid(x): 
    result = 1/(1+np.exp(-x)) 
    return result 

def sig_prime(x): 
    result = sigmoid(x) * (1 - sigmoid(x)) 
    return result
challenge = sig_prime(3)
challenge

0.045176659730912